
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(30, 92, 24);
}

.container-bg {
    background-color: rgb(228, 243, 226);
    border-radius: 25px;
  }