<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h1 style="text-align: center;">Pest determination form</h1>
        <form (ngSubmit)="onClickSubmit()" #determinationForm="ngForm">
          <div class="form-group mb-3">
            <label for="plant" class="form-label">Plant:</label>
            <select id="plant" class="form-control">
                <option *ngFor="let plant of user.plants" [(ngModel)]="user.plants" name="plant" #plant="ngModel">{{plant.plantSpecies}}</option>
            </select>
          </div>
          <div class="d-grid col-6 mx-auto">
            <button class="btn btn-primary" type="submit" [disabled]="!determinationForm.form.valid">Submit</button>
          </div>
      </form>
      </div>
    </div>
  </div>
  